SECRET_KEY=change-this-to-a-long-random-string
DATABASE_URL=postgresql://neondb_owner:npg_gbl4YnKaM0Hr@ep-twilight-rice-aej8rri4-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CLOUDINARY_API_KEY=617947781794296
CLOUDINARY_API_SECRET=cq1MsV1StApAWg6CLzoWad1SecE
FLASK_ENV=production
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=
